.home{
	background: url('../images/bg.jpg') bottom center no-repeat;
	background-size: cover;
	text-align: center;

	.earth{
		background: url('../images/earth.png') bottom center no-repeat;
		background-size: 100% auto;
		height: 100%;
	}

	.content{
		padding-top: 8%;
		flex-direction: column;
		height: 100%;
		align-items: center;
		justify-content: space-between;
	}

	.head{
		flex: 0 0 auto;
		.logo{
			width: 52px;
			height: 52px;
			margin-bottom: 6px;
		}

		.title1{
			display: inline-block;
			margin-bottom: 6px;
			background: $green;
			color: #FFF;
			padding: 4px 8px;
			transform: scale(0.85);
			.text {
				display: inline-block;
				line-height: 1;
				font-size: 1.2rem;
				letter-spacing: 3px;
			}
			.two {
				display: inline-block;
				width: 1.4rem;
				height: 1.4rem;
				line-height: 1.4rem;
				border-radius: 50%;
				font-size: 1.2rem;
				font-weight: bold;
				background: #fff;
				color: $green;
				position: relative;
				bottom: 1px;
				transform: scale(0.85);
				transform-origin: left center;
			}
		}

		.title2{
			color: $green;
			font-size: 2.8rem;
			letter-spacing: 3px;
			font-weight: bold;
		}
	}

	.main{
		font-size: 1.4rem;
		line-height: 2rem;
		margin: 24px 0;
	}

	.button{
		line-height: 32px;
	}

}


