.pass{
	
	.icons{
		background: url('../images/icons.jpg') top center repeat-y;
		background-size: 100% auto;
		text-align: center;
		transform: translateZ(0);
		top: 0;
		left: 0;
		width: 100%;
		height: 300%;
		animation-name: run;
		animation-duration: 6s;
		animation-iteration-count: infinite;
		animation-timing-function: linear;
	}

	.scan{
		background: url('../images/scan.png') top center no-repeat;
		width: 100%;
		height: 50px;
		background-size: 100% auto;
		position: absolute;
		top: 0;
		transform: translateZ(0);
		animation-name: scan;
		animation-duration: 1s;
		animation-iteration-count: infinite;
		animation-timing-function: linear;
	}

	.gray{
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		text-align: center;
		background: rgba(0,0,0,0.5);
		display: flex;
		p{
			color: #FFF;
			margin: auto;
			font-size: 1.7rem;
		}
	}
}

@keyframes run {
	from {
		transform: translateY(0);
	}
	to {
		transform: translateY(-1000px);
	}
}

@keyframes scan {
	from {
		top: 0;
	}
	to {
		top: 100%;
	}
}
